In [1]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root')

if mydb.is_connected():
    print("Connection Established")

Connection Established

In [2]:
mycursor=mydb.cursor()

In [3]:
mycursor.execute("show databases")
for db in mycursor:
    print(db)

('aaft',)
('amity',)
('asms',)
('classical_model',)
('db2',)
('employees',)
('information_schema',)
('mysql',)
('performance_schema',)
('sods',)
('sys',)
('vehicle',)

In [13]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root')
mycursor=mydb.cursor()
mycursor.execute("create database departments")

In [14]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='departments')
mycursor=mydb.cursor()
a="CREATE TABLE dep1(depid int(4),Name varchar(20),salary int)"
mycursor.execute(a)

In [15]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='departments')
mycursor=mydb.cursor()
mycursor.execute("show tables")
for db in mycursor:
    print(db)

('dep1',)

In [21]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='departments')
mycursor=mydb.cursor()
s="INSERT INTO dep1(depid,Name,Salary) VALUES(%s,%s,%s)"
r1=(1,'swara',100000)
mycursor.execute(s,r1)
mydb.commit()

In [23]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='departments')
mycursor=mydb.cursor()
s="SELECT * from dep1"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'swara', 100000)

In [24]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='departments')
mycursor=mydb.cursor()
s1="INSERT INTO dep1(depid,Name,Salary) VALUES(%s,%s,%s)"
r2=(2,'siddharth',50000)
mycursor.execute(s1,r2)
mydb.commit()

In [25]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='departments')
mycursor=mydb.cursor()
s1="SELECT * from dep1"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'swara', 100000)
(2, 'siddharth', 50000)

In [26]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='departments')
mycursor=mydb.cursor()
s2="INSERT INTO dep1(depid,Name,Salary) VALUES(%s,%s,%s)"
r2=(3,'harshita',73000)
mycursor.execute(s2,r2)
mydb.commit()

In [27]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='departments')
mycursor=mydb.cursor()
s1="SELECT * from dep1"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'swara', 100000)
(2, 'siddharth', 50000)
(3, 'harshita', 73000)

In [29]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='departments')
mycursor=mydb.cursor()
s= "UPDATE dep1 SET salary=salary+1000 WHERE salary=100000"
mycursor.execute(s)
mydb.commit()
print(mycursor.rowcount,"Records affected")

1 Records affected

In [34]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='departments')
mycursor=mydb.cursor()
s3="SELECT * from dep1"
mycursor.execute(s3)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'swara', 101000)
(2, 'siddharth', 50000)
(3, 'harshita', 73000)

In [37]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='departments')
mycursor=mydb.cursor()
s3="INSERT INTO dep1(depid,Name,Salary) VALUES(4,'rishav',9000),(5,'satish',42000),(6,'raj',22000)"
mycursor.execute(s3)
mydb.commit()

In [38]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='departments')
mycursor=mydb.cursor()
s3="SELECT * from dep1"
mycursor.execute(s3)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'swara', 101000)
(2, 'siddharth', 50000)
(3, 'harshita', 73000)
(4, 'rishav', 9000)
(5, 'satish', 42000)
(6, 'raj', 22000)