# SQLite DB

In [ ]:
# !pip install sqlite3
import sqlite3

In [ ]:
# create a connection to the SQLite DB
conn = sqlite3.connect('test.db')

In [ ]:
# Create a cursor object to execute SQL Commands
cursor = conn.cursor()

In [ ]:
# Create a table
cursor.execute(
"""
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT
)
"""
)

In [ ]:
# Insert data into table
cursor.execute(
"INSERT INTO employees (name, age, department) VALUES (?, ?, ?)",
    ('John Doe', 30, 'Sales')

)

In [ ]:
# Retreive data

cursor.execute("SELECT * FROM employees")

In [ ]:
rows = cursor.fetchall()

In [ ]:
rows

[(1, 'John Doe', 30, 'Sales')]

In [ ]:
conn.commit()

In [ ]:
conn.close()